server:
  port: 8080
spring:
  data:
    redis:
      host: localhost
      port: 6379
      password: your-password
      database: 0
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms
  output:
    ansi:
      enabled: always
  application:
    name: user-service
  cloud:
    consul:
      host: 192.168.101.128
      port: 8500
      discovery:
        service-name: dcrtv-${spring.application.name}
        instance-id: ${spring.application.name}:${vcap.application.instance_id:${spring.application.instance_id:${random.value}}}
        prefer-ip-address: true
        heartbeat:
          enabled: true
          ttl: 10s